# backend/requirements-dev.txt
-r requirements.txt

# Code Quality
black==23.11.0
isort==5.12.0
flake8==6.1.0
flake8-bugbear
flake8-comprehensions
pep8-naming

# Type Checking
mypy==1.7.0

# Pre-commit
pre-commit==3.5.0

# Testing
pytest-xdist==3.5.0
pytest-timeout==2.2.0
